* {
  margin: 0;
  padding: 0;
}

#title {
  font-size: 45px;
  font-style: normal;
  font-family: sans-serif;
  padding: 20px;
}

#blueBox {
  height: 150px;
  background-color: navy;
}

#blocks {
  height: 450px;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.block {
  width: 26%;
  height: 150px;
  background-color: purple;
}
